*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
line-height:1.7;
}

header{
position:fixed;
width:100%;
background:#111827;
padding:15px 8%;
z-index:1000;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:24px;
font-weight:bold;
color:#38bdf8;
}

.nav-links{
display:flex;
gap:30px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
transition:.3s;
}

.nav-links a:hover{
color:#38bdf8;
}

.menu-btn{
display:none;
font-size:28px;
cursor:pointer;
}

.hero{
height:100vh;
display:flex;
align-items:center;
padding:0 10%;
}

.hero h1{
font-size:55px;
margin-bottom:15px;
}

.hero h2{
color:#38bdf8;
margin-bottom:20px;
}

.hero p{
max-width:700px;
margin-bottom:30px;
}

span{
color:#38bdf8;
}

.btn{
display:inline-block;
padding:14px 30px;
background:#38bdf8;
color:#000;
font-weight:bold;
text-decoration:none;
border-radius:6px;
}

section{
padding:100px 10%;
}

h2{
font-size:36px;
margin-bottom:30px;
text-align:center;
}

.skills-grid,
.interest-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:25px;
}

.card,
.interest,
.edu-card,
.project{
background:#1e293b;
padding:25px;
border-radius:10px;
text-align:center;
transition:.3s;
}

.card:hover,
.project:hover,
.interest:hover,
.edu-card:hover{
transform:translateY(-5px);
}

.project a{
display:inline-block;
margin-top:20px;
color:#38bdf8;
}

.contact-container{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.contact-info a{
color:#38bdf8;
text-decoration:none;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:14px;
border:none;
border-radius:5px;
}

textarea{
height:150px;
resize:none;
}

button{
padding:14px;
border:none;
cursor:pointer;
background:#38bdf8;
font-weight:bold;
border-radius:5px;
}

footer{
text-align:center;
padding:30px;
background:#111827;
}

@media(max-width:768px){

.menu-btn{
display:block;
}

.nav-links{
display:none;
position:absolute;
top:65px;
left:0;
width:100%;
background:#111827;
flex-direction:column;
text-align:center;
padding:20px;
}

.nav-links.active{
display:flex;
}

.hero h1{
font-size:36px;
}

.contact-container{
grid-template-columns:1fr;
}

}